server:
  port: 8081
spring:
  profiles:
    active: chaos-monkey
  application:
    name: toys-bestseller
  config:
    import: configserver:http://localhost:8888
---
spring:
  config:
    activate:
      on-cloud-platform: kubernetes
    import: configserver:http://spring-cloud-kubernetes-configserver:8888